:root {
  --var-white: #fff;
  --var-black: #000;
  --var-blue: #2f80ed;
  --var-bordergrey: #838383;
  --var-hoursaddressgrey: #6f6f6f;
  --var-navyblue: #0a2750;
  --var-lighblue: #d9e7ff;
}

.html {
  scroll-behavior: smooth;
}
