.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--var-about);
}

.about__title {
  max-width: 251px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 0 80px;
  color: var(--var-white);
  z-index: 1;
}

.about__content {
  display: flex;
  max-width: 660px;
  flex-direction: column;
  gap: 20px;
  margin: 119px 80px 173px auto;
}

.about__paragraph {
  margin: 0;
  font-family: "Noto Serif", "New Times Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: var(--var-white);
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: var(--var-blue);
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}
