.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  font-weight: 500;
  display: block;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form__input {
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  height: 60px;
  border: 1px solid var(--var-bordergrey);
}

.form__input::placeholder {
  font-size: 20px;
  line-height: 30px;
  color: var(--var-bordergrey);
}

.form__input:nth-child(2n) {
  padding: 0 20px 0 20px;
}

.form__input:nth-child(3n) {
  padding: 0 20px 0 20px;
}

.form__button {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 32px;
  height: 60px;
  border: none;
  background-color: var(--var-blue);
  color: var(--var-white);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 1s ease-out;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}
