.menu {
  position: relative;
  padding: 100px 0 100px;
  background-color: var(--var-white);
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.menu__title {
  max-width: 780px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.menu__subtitle {
  max-width: 780px;
  margin: 24px auto 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin: 100px 0 0;
}
