.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: var(--var-black);
  font-weight: 500;
  transition: color 0.3s linear 0s;
}

.nav__link:hover {
  color: var(--var-blue);
}
