:root {
  --var-white: #fff;
  --var-black: #000;
  --var-blue: #2f80ed;
  --var-borderGrey: #838383;
  --var-hoursAddressGrey: #6f6f6f;
  --var-navyBlue: #0a2750;
}

.page {
  max-width: 1100px;
  min-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 80px 40px 80px;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: var(--var-black);
  font-weight: 500;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: var(--var-blue);
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "New Times Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
  font-weight: 500;
  color: var(--var-borderGrey);
}

.header__paragraph:last-child {
  align-self: flex-end;
}
