:root {
  --var-white: #fff;
  --var-black: #000;
  --var-blue: #2f80ed;
  --var-borderGrey: #838383;
  --var-hoursAddressGrey: #6f6f6f;
  --var-navyBlue: #0a2750;
}

.page {
  max-width: 1100px;
  min-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--var-white);
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  top: 30px;
  left: 30px;
}

.nav__link {
  display: flex;
  gap: 20px;
  margin: 30px 80px 0 0;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0 80px;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 80px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}
